<?xml version="1.0"?>
<configuration>
		<startup> 
				<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
		</startup>
		<system.serviceModel>
			<bindings>
    <basicHttpBinding>
     <binding>
      <readerQuotas maxArrayLength="5242880" />
     </binding>
     <binding name="BasicHttpBinding_IImageWallService" />
    </basicHttpBinding>
   </bindings>
				<client>
      <endpoint address="http://www.team95.host25.com/ImageWallService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IImageWallService"
        contract="ImageWallServiceReference.IImageWallService" name="BasicHttpBinding_IImageWallService" />
    </client>
		</system.serviceModel>
</configuration>
