<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="ImagesDirectory" value="\ServiceImages\" />
  </appSettings>
  <system.web>
		<customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <!-- Size limit to 5MB -->
		<!-- TODO Remove this, parts uploading now implemented -->
    <!--<httpRuntime maxRequestLength="5120" />-->
  </system.web>
  <system.serviceModel>
    <services>
      <service name="ImageWallService.ImageWallService">
        <endpoint address="rest" behaviorConfiguration="REST" binding="webHttpBinding" contract="ImageWallService.IImageWallService" />
        <endpoint binding="basicHttpBinding" contract="ImageWallService.IImageWallService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="REST">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- TODO Set all to false on deploy -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <!-- TODO Set below to false on deploy -->
    <directoryBrowse enabled="true" />
    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument>
      <files>
				<clear />
				<add value="Default.htm" />
				<add value="Default.html" />
				<add value="Default.asp" />
				<add value="index.htm" />
				<add value="index.html" />
				<add value="iisstart.htm" />
				<add value="default.aspx" />
				<add value="index.php" />
      </files>
    </defaultDocument>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
		<!--	Connection string consists of three parts: resources, provider and provider connection
					Change connection provider in order to connect to another database
					For local use, set source to "localhost:<IISApplicationPort>/<ServicePath>" and change catalog to local database name. Change cred. accordingly.-->
    <add name="ImageWallServiceDataModelContainer" 
				 connectionString="metadata=res://*/Data.ImageWallServiceDataModel.csdl|
																		res://*/Data.ImageWallServiceDataModel.ssdl|
																		res://*/Data.ImageWallServiceDataModel.msl;
																		provider=System.Data.SqlClient;
																		provider connection string=&quot;
																			data source=mssql4.mojsite.com,1555;
																			initial catalog=team95_ImageWall;
																			user id=team95_imagewalluser;
																			password=1m4g3W4ll;
																			MultipleActiveResultSets=True;App=EntityFramework&quot;" 
				 providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>